plano_git/plano_git/src/main/mule/plano_git.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d441aadb-b238-4671-8609-4182773c76f0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="plano_gitFlow" doc:id="5a9e2e1e-b58c-4e0f-88af-3f7b6ffc831a" >
		<http:listener doc:name="Listener" doc:id="1efecdb1-6ce5-4314-bc02-0f91ee6f1a47" config-ref="HTTP_Listener_config" path="/planogit"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="8b3d158e-aaa9-4160-bb41-ea835f87419f" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="33f53f9c-b77c-47f6-8048-e13c27f6310f" />
	</flow>
</mule>
