teste_git/src/main/mule/teste_git.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="02557c37-af52-4e9d-8463-40bccbcdc254" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="teste_gitFlow" doc:id="b86eed9f-a577-46c8-b349-3232b865c708" >
		<http:listener doc:name="Listener" doc:id="279153f6-b228-49cd-b9b5-639f6af9a07a" config-ref="HTTP_Listener_config" path="/tetegit"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="7e1351fe-a477-4321-bc1a-8e9e1007dd09" />
	</flow>
</mule>
