teste_ale/src/main/mule/teste_ale.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f529729c-0536-436b-bf45-ea131221aab9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="teste_aleFlow" doc:id="89e4f175-f819-490a-a7fb-0bd0ffab9840" >
		<http:listener doc:name="Listener" doc:id="dbebefb5-1e0c-45eb-a713-03eaf3a62b79" config-ref="HTTP_Listener_config" path="/testeale"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="3d343080-646f-4ed6-8488-e415888be7ef" />
	</flow>
</mule>
